.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 650px) {
  button.custom-button {
    width: 100%;
  }
}
